{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\mssqllocaldb;AttachDbFilename=|DataDirectory|\\dblocal-sample.mdf;Database=dblocal-sample;Trusted_Connection=True;MultipleActiveResultSets=true"
  }
}